body {
    font: 10px sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: white;
}

.dot {
    stroke: #000;
    opacity: 0.7;
}

#tooltip {
    padding: 5px;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    background: white;
    opacity: 50%;
    pointer-events: none;
}
